In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20,):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [3]:
list=[10,20,55,84,74,65,14]
print(list)
print("number of item in the lists:",len(list))

[10, 20, 55, 84, 74, 65, 14]
number of item in the lists: 7

In [4]:
list1 = [10, 20, 55, 84, 74, 65, 14]
print(list1)
print("number of item in the list1:")

[10, 20, 55, 84, 74, 65, 14]
number of item in the list1:

In [5]:
print(list1)

[10, 20, 55, 84, 74, 65, 14]

In [6]:

for item in list1:
    print(item)

10
20
55
84
74
65
14

In [7]:
numbers = []

# Loop through the range and add each number to the list
for num in range(10, 13):  # range(10, 13) will give 10, 11, 12
    numbers.append(num)

# Print the list
print(numbers)

[10, 11, 12]

In [8]:
numbers = []


for num in range(9, 13):
    numbers.append(num)


print(numbers)

[9, 10, 11, 12]

In [9]:
name=input("Enter your name:")
for temp in name:
    print(temp)

Enter your name: sinthu

s
i
n
t
h
u

In [10]:
Name=input("-YOUR NAME-")
Name=int(input("-YOUR AGE-"))
Name=input("-PROFESSION-")

-YOUR NAME- sinthu
-YOUR AGE- 33
-PROFESSION- trader

In [11]:
name=(1,'welcom',2,'hope')
print(name)

(1, 'welcom', 2, 'hope')

In [12]:
num=((0,1,2,3),('python','hope'))
print(num)

((0, 1, 2, 3), ('python', 'hope'))

In [17]:
int=(20,10,16,19,25,1,276,188)
print(int)
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2)==1):
        print("is ODD",num)

(20, 10, 16, 19, 25, 1, 276, 188)
is ODD 19
is ODD 25
is ODD 1

In [18]:
list=[20,10,16,19,25,1,276,188]
for num in list:
    if((num%2)==0):
        print("is EVEN",num)

is EVEN 20
is EVEN 10
is EVEN 16
is EVEN 276
is EVEN 188